@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.app {
  display: flex;
  flex-direction: column;
  flex: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.header {
  background: #093255;
  /* padding: 0 50px; */
  height: 64px;
  line-height: 64px;
  /* flex: 0 0 auto; */
  display: flex;
  align-items: center;
  z-index: 300;
}

.header-panel {
  display: flex;
  align-items: center;
  z-index: 300;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
}

.main {
  flex-direction: row;
  display: flex;
  /* flex: auto; */
}

.structure {
   min-height: calc(100vh - 64px);
   /* width: 350px; */
   flex: 0 0 350px;
   border-right: 1px solid #b1bac2;
   background: #f6f6f6;
   padding: 15px;
}

.logo-wrapper {
  flex: 0 0 350px;
  height: 100%;
  padding: 0 50px;
}

.logo {
  background: transparent url(./logo.png) no-repeat center center;
  background-size: 100% auto;
  height: 100%;
}

.sheet{
  /* overflow-x: hidden; */
}
  
#settings{
  position: fixed;
  right: 0;
  z-index: 100;
  width: 350px;
  overflow: auto;
  background: #093255;
  color: #F2EFF6;
  top: 0;
  height: 100%;
  transform: translateX(0);
  transition: transform 400ms ease-in;
}

#settings.slideOut {
  transform: translateX(350px);
}
#settings.slideIn {
  transform: translateX(0);
}

.button-header {
  height: 32px;
  width: 32px;
}

button:focus {outline:0;}

.settings-header {
  padding: 20px 20px;
  background: #568ab4;
  color: #fff;
  position: relative;
  margin-top: 64px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.StaffRow {
  display: flex;
  justify-content: flex-start;
  /* background-color: rgb(184, 179, 179); */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 220px;
  /* border: 1px solid rgb(41, 41, 41); */
}




.Section {
  display: flex
  /* width: 50%; */
  /* height: 50px; */
  /* background: wheat; */
  /* border-color: rgb(41, 41, 41); */
  /* border-width: 0 1px; */
  /* border-style: solid; */
  /* margin: 15px */
}


.col-1 {
  flex-basis: calc(100%)
}
.col-2 {
  flex-basis: calc(50%)
}
.col-3 {
  flex-basis: calc(33.333%)
}
.col-4 {
  flex-basis: calc(25%)
}
.col-5 {
  flex-basis: calc(20%)
}
.col-6 {
  flex-basis: calc(16.666%)
}
.col-7 {
  flex-basis: calc(14.286%)
}
.col-8 {
  flex-basis: calc(12.5%)
}


.button {
  width: 10%
}

.currentNote *  {
  fill: rgba(36, 143, 107, 0.925);
  /* stroke: red; */
}

/* .vf-stem  {
  fill: black;
  stroke: black;
} */

/* .Section:first-child >.Section-clef{
  background-color: green
}
.Section:first-child >.Section-main{
  background-color: red
}
.Section:first-child >.Section-panel{
  background-color: yellow
}

.Section:last-child >.Section-clef{
  background-color: fuchsia
}
.Section:last-child >.Section-main{
  background-color: royalblue
}
.Section:last-child >.Section-panel{
  background-color: chartreuse
} */

/* http://jsfiddle.net/QPrk3/ */