@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.app {
  display: flex;
  flex-direction: column;
  flex: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.header {
  background: #093255;
  padding: 0 50px;
  height: 64px;
  line-height: 64px;
  flex: 0 0 auto;
}

.main {
  flex-direction: row;
  display: flex;
  flex: auto;
}

.structure {
   min-height: calc(100vh - 64px);
   width: 350px;
   border-right: 1px solid #b1bac2;
   background: #f6f6f6;
   padding: 15px;
}

.sheet{
  /* overflow-x: hidden; */
  /* width: 80%; */
}
  

.StaffRow {
  display: flex;
  justify-content: flex-start;
  /* background-color: rgb(184, 179, 179); */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 220px;
  /* border: 1px solid rgb(41, 41, 41); */
}




.Section {
  display: flex
  /* width: 50%; */
  /* height: 50px; */
  /* background: wheat; */
  /* border-color: rgb(41, 41, 41); */
  /* border-width: 0 1px; */
  /* border-style: solid; */
  /* margin: 15px */
}


.col-1 {
  flex-basis: calc(100%)
}
.col-2 {
  flex-basis: calc(50%)
}
.col-3 {
  flex-basis: calc(33.333%)
}
.col-4 {
  flex-basis: calc(25%)
}
.col-5 {
  flex-basis: calc(20%)
}
.col-6 {
  flex-basis: calc(16.666%)
}
.col-7 {
  flex-basis: calc(14.286%)
}
.col-8 {
  flex-basis: calc(12.5%)
}


.button {
  width: 10%
}

.currentNote *  {
  fill: rgba(36, 143, 107, 0.925);
  /* stroke: red; */
}

/* .vf-stem  {
  fill: black;
  stroke: black;
} */

/* .Section:first-child >.Section-clef{
  background-color: green
}
.Section:first-child >.Section-main{
  background-color: red
}
.Section:first-child >.Section-panel{
  background-color: yellow
}

.Section:last-child >.Section-clef{
  background-color: fuchsia
}
.Section:last-child >.Section-main{
  background-color: royalblue
}
.Section:last-child >.Section-panel{
  background-color: chartreuse
} */

/* http://jsfiddle.net/QPrk3/ */