@import '~react-select/dist/react-select.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~rc-slider/assets/index.css';

:root {
  --main-color: #0d4063;
  
}
/* --main-color: #115372; */


body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  /* box-sizing: border-box; */
  overflow: hidden;
}


.app {
  display: flex;
  flex-direction: column;
  flex: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.header {
  background: var(--main-color);
  /* padding: 0 50px; */
  height: 64px;
  /* line-height: 64px; */ 
  /* flex: 0 0 auto; */
  display: flex;
  align-items: center;
  z-index: 300;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header-panel {
  display: flex;
  align-items: center;
  z-index: 300;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
}

.main {
  flex-direction: row;
  display: flex;
  /* flex: auto; */
  margin-top: 64px
}

.scheme-wrapper {
   min-height: calc(100vh - 64px);
   height: calc(100vh - 64px);
   overflow-y: auto;
   flex: 0 0 350px;
   border-right: 1px solid #b1bac2;
   background: #f3f2ea;
   padding: 15px;
   box-sizing: border-box;
}

.scheme {
  margin-top: 30px
}

.scheme-btn-group{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.scheme-button {
  padding: 0 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  background-color: #b0d7da;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  width: 47.5%;
  border: solid #a3bfc1 1px;
  text-decoration: none;
}

.scheme-button:hover {
  background-color: #a2cbcc;
}

.logo-wrapper {
  flex: 0 0 350px;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.logo {
  background: transparent url(./images/logo_pbm.png) no-repeat center center;
  background-size: 100% auto;
  height: 100%;
}


.sheet{
  /* overflow-x: hidden; */
  height: calc(100vh - 64px);
  overflow-y: scroll;
  overflow-x: hidden;
}
  
#settings{
  position: fixed;
  right: 0;
  z-index: 100;
  width: 350px;
  overflow: auto;
  background: var(--main-color);
  color: #F2EFF6;
  top: 0;
  height: 100%;
  transform: translateX(0);
  transition: transform 200ms linear;
}

#settings.slideOut {
  transform: translateX(350px);
}
#settings.slideIn {
  transform: translateX(0);
}

.button-header {
  height: 32px;
  width: 32px;
  background-size: 100% 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.button-play {
    background-Image: url(./images/play.svg);
}

.button-loading {
  background-Image: url(./images/spinner5.svg);
}

.button-stop {
  background-Image: url(./images/stop.svg);
}

.button-settings {
  background-Image: url(./images/settings.svg);
}

button:focus {outline:0;}

.settings-header {
  padding: 20px 20px;
  background: #b8cddc;
  color: #000;
  position: relative;
  margin-top: 64px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.setting-item {
  display: flex;
  margin: 40px 20px;
}

.setting-label {
  letter-spacing: 1px;
  width: 50%; 
  display: flex;
  align-items: center;
}

.setting-value {
  width: 50%; 
  display: flex;
  align-items: center;
}

.section {
  /* display: flex; */
  background-color: #c9d7de;
  border-radius: 4px;
  border: 1px solid #b8c6d0;
  line-height: 22px;
  /* padding: 12px 0 12px 20px; */
  color: rgba(0, 0, 0, 0.85);
  /* cursor: pointer; */
  margin-top: 5px;
  user-select: none;
}

.section:hover {
  background-color: #b6c9d4;
}

.section-type {
  cursor: pointer;
}

.section-header {
  display: flex;
  padding: 12px 20px 12px 20px;
  justify-content: space-between
}

.section-buttons {
  cursor: pointer;
}

.btn-section{
  margin-left: 4px;
  color: dimgray;
}

.btn-section:hover {
  color: #000000;
}

.section-details {
  /* display: flex; */
  background-color: #c9d7de;
  border-top: 1px solid #9dafbb;
  line-height: 22px;
  padding: 20px 20px 20px 20px;
  color: rgba(0, 0, 0, 0.85);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  /* cursor: pointer; */
}

.handGroup{
  background-color: #afbecc;
  text-align: center;
  border-radius: 4px;
}    

i.section-opened:before {
  font-family: FontAwesome;
  content: "\f0d7";
  display: inline-block;
  padding-right: 12px;
  font-style: normal
}

i.section-closed:before {
  font-family: FontAwesome;
  content: "\f0da";
  display: inline-block;
  padding-right: 15px;
  font-style: normal
}

.currentNote *  {
  fill: rgba(36, 143, 107, 0.925);
  /* stroke: red; */
}

/* .select-intro .Select-placeholder {
  padding-left: 20px;
  top: 5px;
}
.select-intro  > .Select-control .Select-value {
  padding-left: 20px;
  top: 5px;
}
.select-intro .Select-control {
  height: 46px;
} */

.Select-control {
  border: 1px solid #9dafbb;
}  


.swing-feel {
  vertical-align: middle;
}

.blur{
  filter: blur(9px);
}

.btn-update {
  position: fixed;
  z-index: 100;
  top:calc(50% - 30px);
  left:calc(50% - 30px + 350px/2);
  height:60px;
  width:60px;
  color: #ffffff;
  background-color: var(--main-color);
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  border-color: var(--main-color);
  border: 0px solid;
  background-Image: url(./images/refresh.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center
}

